<html>
    <head>
     
      <title>Welcome to the Affirm CA Content Generator</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      
    </head>
    <body>
        <div>Affirm CA: Growth Dashboard <a href="/">User Input Emails</a> 
                             <a href="/original">### User Iinput Emails</a>
                             <a href="/affirmca_emails_standard">4 Week Standard Email Campaigns</a>
                             <a href="/affirmca_dashboard">GMV Dashboard</a>
                             
                            
        </div>
       
        <hr>
        {% block content %}{% endblock %}


        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jqeury.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/85f89fe109cac4c33d1106ff47bb82e7b7ce95f9a561f7a341f779be5a54d690/ns.js"></script></body>
</html>

