/* body {
    background-color: rgb(202, 183, 183);
} */

/* h2 {
    color: navy;
    margin-left: 20px;
} */

body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a, h1, h2       { color: #377ba8; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  /* border-bottom: 1px solid #C8C8C8; */
  border-collapse: collapse;
  text-align:center;
  /* padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 12px; */
}

.boston th {
    background-color: #61708b;
    color: white;
}

tr:nth-child(odd)	{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }

tr:hover            { background-color: #ffff99;}

/* .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 10px;
} */

.table {
    /* margin: 25px; */
    width: unset;
}